header
{
	background-color: #004d40
}

.blanco
{
	color: white;
}

.negro
{
	background-color: #000000;
}

.color
{
	background-color: #ff0000;
	/*border-style: double;*/
	border-width: 5px;
	border-style: solid;

}